.bottom-tab-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 74px;
  background: #ffffff;
  border-top: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.06);
  z-index: 1000;
}

/* Normal tabs */
.tab-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 11px;
  color: #6b7280;
  min-width: 60px;
   transition: all 0.2s ease;
}

.tab-item ion-icon {
  font-size: 22px;
  margin-bottom: 4px;
  transition: all 0.2s ease;
}

.tab-item.active {
  color: #111827; /* darker text */
}
.tab-item span {
  transition: all 0.2s ease;
}

.tab-item.active ion-icon {
  color:  #1f2328;
  transform: scale(1.15);
}

.tab-item.active span {
  font-weight: 700; /* BOLD LABEL */
  font-size: 12px;
}


/* CENTER FLOATING BUTTON */
.tab-add {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-28px);

  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #9B0C23;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.tab-add ion-icon {
  font-size: 30px;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.home-arrow {
  font-size: 16px;
  margin-right: -2px; /* pulls arrow closer to home */
}


.tab-item:first-child {
  border-right: 1px solid #d1d5db;
  padding-right: 18px;
  margin-right: 8px;
}
.tab-item:first-child::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;        /* start at top */
  bottom: 0;     /* stretch to bottom */
  width: 2.5px;
  background-color: #d1d5db; /* light grey */
}


