<app-granitian-header title="Inventory" show-back-button="true"></app-granitian-header>
<ion-content class="inventory-content">
  <div class="page-header">
    <h2>Inventory</h2>
  </div>

  <div class="filter-bar">
    <ng-container *ngIf="currentRole === UserRole.FACTORY_OWNER">

      <ion-select placeholder="All Factories" [(ngModel)]="selectedFactory" (ionChange)="onFactoryChange()">

        <ion-select-option *ngFor="let f of factories" [value]="f.factoryId">
          {{ f.factoryName }}
        </ion-select-option>

      </ion-select>

      <ion-select placeholder="All Users" [(ngModel)]="selectedUser" (ionChange)="applyFilters()">

        <ion-select-option *ngFor="let u of users" [value]="u.userId">
          {{ u.userName }}
        </ion-select-option>

      </ion-select>

      <ion-select placeholder="Material" [(ngModel)]="selectedMaterial" (ionChange)="applyFilters()">

        <ion-select-option *ngFor="let lot of lots" [value]="lot.material">
          {{ lot.material }}
        </ion-select-option>

      </ion-select>

      <ion-select placeholder="Status" [(ngModel)]="selectedStatus" (ionChange)="applyFilters()">
        <ion-select-option value="Saved">Saved</ion-select-option>
        <ion-select-option value="Shared">Shared</ion-select-option>
      </ion-select>

    </ng-container>

    <ng-container *ngIf="currentRole === UserRole.FACTORY_OWNER">

      <ion-select placeholder="User" [(ngModel)]="selectedUser" (ionChange)="applyFilters()">
        <ion-select-option *ngFor="let u of users" [value]="u.userId">
          {{ u.userName }}
        </ion-select-option>
      </ion-select>

      <ion-select placeholder="Status" [(ngModel)]="selectedStatus" (ionChange)="applyFilters()">
        <ion-select-option value="Saved">Saved</ion-select-option>
        <ion-select-option value="Shared">Shared</ion-select-option>
      </ion-select>

    </ng-container>


    <!--SUPERVISOR -->
    <ng-container *ngIf="currentRole === UserRole.SUPERVISOR">

      <ion-select placeholder="Factory" [(ngModel)]="selectedFactory" (ionChange)="applyFilters()">
        <ion-select-option *ngFor="let f of factories" [value]="f.factoryId">
          {{ f.factoryName }}
        </ion-select-option>
      </ion-select>

      <ion-select placeholder="User" [(ngModel)]="selectedUser" (ionChange)="applyFilters()">
        <ion-select-option *ngFor="let u of users" [value]="u.userId">
          {{ u.userName }}
        </ion-select-option>
      </ion-select>

      <ion-select placeholder="Status" [(ngModel)]="selectedStatus" (ionChange)="applyFilters()">
        <ion-select-option value="Saved">Saved</ion-select-option>
        <ion-select-option value="Shared">Shared</ion-select-option>
      </ion-select>

    </ng-container>

    <!-- Common Date Filter -->
    <ion-datetime-button datetime="inventoryDate"></ion-datetime-button>

    <ion-modal #dateModal keepContentsMounted="true">
      <ng-template>
        <ion-datetime id="inventoryDate" presentation="date" [(ngModel)]="selectedDate"
          (ionChange)="onDateChange(dateModal)">
        </ion-datetime>
      </ng-template>
    </ion-modal>

  </div>
  <!-- LOT CARDS -->
  <app-lot-card *ngFor="let lot of filteredLots" [item]="{
    measurement_id: lot.lotNumber,
    granite_color: lot.material,
    quality_type: lot.size,
    total_slabs: '-',
    total_net_sft: '-',
    isEditable: lot.status === 'Saved',
    isSharedByMe: lot.status === 'Shared'
  }" (open)="openMeasurement(lot)" [showStatus]="true" [showActions]="false">
  </app-lot-card>

</ion-content>