<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding profile-container">

  <div class="profile-header">
    <ion-avatar class="profile-avatar">
      <img [src]="user.avatar" />
    </ion-avatar>
    <h2>{{ user.fullName }}</h2>
  </div>

  <ion-list lines="full" class="profile-list">
    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label>
        <h3>Email</h3>
        <p>{{ user.email }}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="call-outline" slot="start"></ion-icon>
      <ion-label>
        <h3>Mobile Number</h3>
        <p>{{ user.phone }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
