<ion-content class="splash">
  <div class="splash-container">
  <div class="brand-area">

    <img src="assets/icon/logo-whitefont-redbg.png"
         class="logo-icon"
         alt="Granitian">

    <img src="assets/icon/wordlogo-white-transparent.svg"
         class="logo"
         alt="Granitian">

  </div>

  <div class="action-area">

    <ion-button class="start-btn" routerLink="/login">
      Get Started
    </ion-button>

    <p class="signin">
      Already have an account?
      <span routerLink="/login">Sign In</span>
    </p>

  </div>

  <div class="splash-footer">
    v1.0 · Secure
  </div>

  </div>

</ion-content>
