<ion-content class="container">
  <div class="center-wrapper">
    <div class="right-section">
      <div *ngIf="signupMode; else otherModes">
        <h2 class="title gradient-text">Create Account</h2>
        <div class="input-wrapper required-field">
          <ion-label>User Type</ion-label>

          <div class="custom-input">
            <ion-icon name="briefcase-outline" class="input-icon"></ion-icon>
            <ion-select placeholder="Select user type" [(ngModel)]="selectedUserTypeId">

              <ion-select-option *ngFor="let type of userTypes" [value]="type.id">
                {{ type.type_name }}
              </ion-select-option>

            </ion-select>

          </div>
          <div class="error-message" *ngIf="errors.userType">
            <ion-icon name="close-circle-outline" class="error-icon"></ion-icon>
            {{ errors.userType }}
          </div>
        </div>

        <div class="name-row">

          <div class="input-wrapper half-input required-field">
            <ion-label>First Name</ion-label>

            <div class="custom-input">
              <ion-icon name="person-circle-outline" class="input-icon"></ion-icon>
              <ion-input placeholder="Enter first name" [(ngModel)]="formData.firstName"></ion-input>
            </div>
            <div class="error-message" *ngIf="errors.firstName">
              <ion-icon name="close-circle-outline" class="error-icon"></ion-icon>
              {{ errors.firstName }}
            </div>
          </div>

          <div class="input-wrapper half-input">
            <ion-label>Last Name</ion-label>

            <div class="custom-input">
              <ion-icon name="person-circle-outline" class="input-icon"></ion-icon>
              <ion-input placeholder="Enter last name" [(ngModel)]="formData.lastName"></ion-input>
            </div>
            <div class="error-message" *ngIf="errors.lastName">
              <ion-icon name="close-circle-outline" class="error-icon"></ion-icon>

              {{ errors.lastName }}
            </div>
          </div>

        </div>


        <div class="input-wrapper required-field" *ngIf="isGroupB()">
          <ion-label>Firm Name</ion-label>
          <div class="custom-input">
            <ion-icon name="business-outline" class="input-icon"></ion-icon>
            <ion-input placeholder="Enter firm name" [(ngModel)]="formData.firmName">
            </ion-input>
          </div>
          <div class="error-message" *ngIf="errors.firmName">
            <ion-icon name="close-circle-outline" class="error-icon"></ion-icon>

            {{ errors.firmName }}
          </div>
        </div>


        <div class="input-wrapper required-field">
          <ion-label>Email</ion-label>

          <div class="custom-input">
            <ion-icon name="mail-outline" class="input-icon"></ion-icon>
            <ion-input type="email" placeholder="Enter email" [(ngModel)]="formData.email"></ion-input>
          </div>
          <div class="error-message" *ngIf="errors.email">
            <ion-icon name="close-circle-outline" class="error-icon"></ion-icon>

            {{ errors.email }}
          </div>
        </div>


        <div class="input-wrapper required-field">
          <ion-label>Mobile Number</ion-label>

          <div class="custom-input">
            <ion-icon name="call-outline" class="input-icon"></ion-icon>
            <span class="country-code">+91</span>
            <ion-input type="tel" inputmode="numeric" maxlength="10" placeholder="Enter phone number"
              [(ngModel)]="formData.mobile" (ionInput)="onMobileInput($event)" (ionBlur)="onMobileBlur()">
            </ion-input>
          </div>

          <div class="error-message" *ngIf="errors.mobile">
            <ion-icon name="close-circle-outline" class="error-icon"></ion-icon>
            {{ errors.mobile }}
          </div>
        </div>

        <div class="input-wrapper" [class.required-field]="isGroupB()" *ngIf="userTypes">

          <ion-label>
            Location
            <span *ngIf="isGroupB()"></span>
          </ion-label>

          <div class="custom-input">
            <ion-icon name="location-outline" class="input-icon"></ion-icon>
            <ion-input placeholder="Enter location" [(ngModel)]="formData.location">
            </ion-input>
          </div>
          <div class="error-message" *ngIf="errors.location">
            <ion-icon name="close-circle-outline" class="error-icon"></ion-icon>

            {{ errors.location }}
          </div>
        </div>

        <div class="input-wrapper required-field">
          <ion-label>Password</ion-label>

          <div class="custom-input">
            <ion-icon src="/assets/data/lockIcon.svg" class="input-icon"></ion-icon>
            <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Enter your password"
              [(ngModel)]="formData.password">
              <ion-input-password-toggle slot="end" class="eye-icon"></ion-input-password-toggle>

            </ion-input>
          </div>

          <div class="error-message" *ngIf="errors.password">
            <ion-icon name="close-circle-outline" class="error-icon"></ion-icon>

            {{ errors.password }}
          </div>


        </div>


        <div class="input-wrapper required-field">
          <ion-label>Confirm Password</ion-label>

          <div class="custom-input">
            <ion-icon src="/assets/data/lockIcon.svg" class="input-icon"></ion-icon>
            <ion-input [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Enter your password"
              [(ngModel)]="formData.confirmPassword">
              <ion-input-password-toggle slot="end" class="eye-icon"></ion-input-password-toggle>

            </ion-input>
          </div>
          <div class="error-message" *ngIf="errors.confirmPassword">
            <ion-icon name="close-circle-outline" class="error-icon"></ion-icon>

            {{ errors.confirmPassword }}
          </div>
        </div>


        <ion-button expand="block" class="signup-btn" (click)="register()">
          Register
        </ion-button>

      </div>

      <ng-template #otherModes>

        <div *ngIf="otpMode; else loginContent">

          <div *ngIf="!otpSent">
            <h2 class="title gradient-text">Sign In with OTP</h2>
            <div class="input-wrapper required-field">
              <ion-label>Mobile Number</ion-label>

              <div class="custom-input">
                <ion-icon name="call-outline" class="input-icon"></ion-icon>
                <span class="country-code">+91</span>

                <ion-input type="tel" placeholder="Enter phone number" [(ngModel)]="loginData.mobile"></ion-input>
              </div>
              <div class="error-message" *ngIf="errors.mobile">
                <ion-icon name="close-circle-outline" class="error-icon"></ion-icon>
                {{ errors.mobile }}
              </div>
            </div>

            <ion-button expand="block" class="signup-btn" (click)="sendOtp()">
              Send OTP
            </ion-button>
          </div>

          <div *ngIf="otpSent && !openResetPasswordFields" class="otp-container">

            <h2 class="title gradient-text">Verify OTP</h2>
            <ion-label class="otp-label">Enter OTP</ion-label>

            <div class="otp-wrapper">
              <input *ngFor="let box of otpBoxes; let i = index" maxlength="1" class="otp-box" type="tel"
                inputmode="numeric" (input)="moveNext($event, i)" (keydown)="movePrev($event, i)" #otpInput />
            </div>

            <ion-button expand="block" class="signup-btn" (click)="submitOtp()" [disabled]="isOtpSubmitting">
              SUBMIT OTP
            </ion-button>
          </div>

          <div *ngIf="openResetPasswordFields" class="reset-password-section">

            <div class="input-wrapper required-field">
              <ion-label>New Password</ion-label>

              <div class="custom-input">
                <ion-icon src="/assets/data/lockIcon.svg" class="input-icon"></ion-icon>
                <ion-input [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Enter your password"
                  [(ngModel)]="resetPassword.new">
                  <ion-input-password-toggle slot="end" class="eye-icon"></ion-input-password-toggle>

                </ion-input>
              </div>
              <div class="error-message" *ngIf="errors.confirmPassword">
                <ion-icon name="close-circle-outline" class="error-icon"></ion-icon>

                {{ errors.confirmPassword }}
              </div>
            </div>

            <div class="input-wrapper required-field">
              <ion-label>Confirm Password</ion-label>

              <div class="custom-input">
                <ion-icon src="/assets/data/lockIcon.svg" class="input-icon"></ion-icon>
                <ion-input [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Enter your password"
                  [(ngModel)]="resetPassword.confirm">
                  <ion-input-password-toggle slot="end" class="eye-icon"></ion-input-password-toggle>

                </ion-input>
              </div>
              <div class="error-message" *ngIf="errors.confirmPassword">
                <ion-icon name="close-circle-outline" class="error-icon"></ion-icon>

                {{ errors.confirmPassword }}
              </div>
            </div>

            <ion-button expand="block" class="signup-btn" (click)="resetPasswordSubmit()">
              RESET PASSWORD
            </ion-button>

          </div>
        </div>

        <ng-template #loginContent>

          <h2 class="title gradient-text">Sign In</h2>
          <div class="input-wrapper required-field">
            <ion-label>Mobile Number</ion-label>

            <div class="custom-input">
              <ion-icon name="call-outline" class="input-icon"></ion-icon>
              <span class="country-code">+91</span>
              <ion-input type="tel" placeholder="Enter phone number" [(ngModel)]="loginData.mobile"
                (ionInput)="onLoginMobileInput($event)"></ion-input>

            </div>
            <div class="error-message" *ngIf="loginErrors.mobile">
              <ion-icon name="close-circle-outline" class="error-icon"></ion-icon>
              {{ loginErrors.mobile }}
            </div>

          </div>

          <div class="input-wrapper required-field">
            <ion-label>Password</ion-label>

            <div class="custom-input">
              <ion-icon src="/assets/data/lockIcon.svg" class="input-icon"></ion-icon>
              <ion-input [type]="showLoginPassword ? 'text' : 'password'" placeholder="Enter your password"
                [(ngModel)]="loginData.password" (ionInput)="onLoginPasswordInput()">
                <ion-input-password-toggle slot="end" class="eye-icon"></ion-input-password-toggle></ion-input>
            </div>
            <div class="error-message" *ngIf="loginErrors.password">
              <ion-icon name="close-circle-outline" class="error-icon"></ion-icon>

              {{ loginErrors.password }}
            </div>
          </div>

          <ion-label class="forgot-text" (click)="startForgotPassword()">
            <span>Forgot Password?</span>
          </ion-label>



          <div class="button-row">
            <ion-button expand="block" class="signup-btn" (click)="goToDashboard()">Sign In</ion-button>
          </div>


          <div class="button-row">
            <ion-button expand="block" class="otp-btn" (click)="enableOtpMode()" fill="outline">Use OTp
              Instead</ion-button>
          </div>

          <ion-label class="agree-text" (click)="enableSignupMode()">
            <span>Don't have an account?</span>
            <span class="link">Sign Up</span>
          </ion-label>

        </ng-template>

      </ng-template>

    </div>

  </div>
</ion-content>