ion-header {
  padding-top: env(safe-area-inset-top);
  background: white;
}

ion-toolbar {
  --background: #ffffff;
  --color: #000;
  font-weight: 600;
}


ion-item {
  --background: transparent;
  --inner-padding-end: 0;
  --inner-border-width: 0;
  border: none;
  box-shadow: none;
  margin-bottom: 14px;
}

ion-input, ion-select {
  background: #ffffff;
  border: 1px solid #dcdde1;
  border-radius: 8px;
  padding: 10px;
  font-size: 15px;
  --highlight-color-focused: transparent; /* Removes Ionic blue focus underline */
}

ion-label {
  font-weight: 500;
  color: #333;
  margin-bottom: 4px;
}


