<app-granitian-header></app-granitian-header>

<ion-content fullscreen class="ion-padding">
  <div class="page-header">
    <div class="page-title">
      {{ mode === 'all' ? 'History' : 'Shared Lots' }}
    </div>

    <!-- Segment -->
    <ion-segment *ngIf="mode === 'shared'" mode="md" [(ngModel)]="activeTab" class="history-segment">
      <ion-segment-button value="sharedByMe">
        <ion-label>Shared</ion-label>
      </ion-segment-button>

      <ion-segment-button value="sharedWithMe">
        <ion-label>Received</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-searchbar placeholder="Search by LOT ID" (ionInput)="onSearch($event)" class="history-search"
      show-clear-button="focus">
    </ion-searchbar>

  </div>

  <app-lot-card *ngFor="let item of filteredHistory()" [item]="item" (share)="openShareModal($event)"
    (open)="openMeasurement($event)" [showStatus]="true" [showActions]="true">
  </app-lot-card>

</ion-content>