<app-granitian-header></app-granitian-header>
<ion-content class="ion-padding home-container">
  <div *ngIf="!hasAnyMarkings" class="empty-state">
    <ion-icon name="cube-outline"></ion-icon>
    <h2>No Markings Yet</h2>
    <p>Create your first slab to start tracking measurements.</p>

  </div>


  <div *ngIf="hasAnyMarkings">

    <div class="history-dashboard">

      <div class="stats-row">
        <div class="stat-card">
          <h3>{{ totalHistory }}</h3>
          <p>Slabs History Count</p>
        </div>

        <div class="stat-card">
          <h3>{{ totalShared }}</h3>
          <p>Shared History Count</p>
        </div>
      </div>

      <div class="recent-header">
        Recent 5 Records
      </div>

      <div class="recent-list">
        <div class="recent-item" *ngFor="let item of recentData" (click)="openMeasurement(item.id)">
          <div class="item-left">
            <h4>{{ item.name }}</h4>
            <p>{{ item.color }}</p>
          </div>
          <div class="item-date">
            {{ item.date }}
          </div>
        </div>
      </div>
    </div>
  </div>


  <ng-template #noRecent>
    <p style="text-align: center; color: gray;">No recent data available.</p>
  </ng-template>



  <ng-template #noRecent>
    <p style="color: gray; text-align: center; margin-top: 10px;">No recent markings found.</p>
  </ng-template>


  <app-bottom-tabs [tabs]="homeTabs" activeRoute="/assistant" [showAddButton]="true" (addAction)="goToCreateSheet()">
  </app-bottom-tabs>


</ion-content>