<ion-content class="ion-padding home-container">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Actions</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="actions-section">
    <div class="action-card purple" (click)="goToCreateSheet()">
      <h2>Create New Marking Sheet</h2>
      <p>Measure, Calculate & Share Granite Layouts with Ease</p>
      <ion-icon name="resize-outline"></ion-icon>
    </div>

    <div class="action-card blue" [routerLink]="['/markings-history']">
      <h2>Markings History</h2>
      <p>All your saved measurements in one place</p>
      <ion-icon name="document-text-outline"></ion-icon>
    </div>
  </div>

   <h3 class="recent-title">Recent</h3>

  <div *ngIf="recentData.length > 0; else noRecent">
    <div class="recent-card light-blue" *ngFor="let item of recentData">
      <h2>{{ item.name }}</h2>
      <p>{{ item.date }}</p>
    </div>
  </div>

  <ng-template #noRecent>
    <p style="text-align: center; color: gray;">No recent data available.</p>
  </ng-template>



  <ng-template #noRecent>
    <p style="color: gray; text-align: center; margin-top: 10px;">No recent markings found.</p>
  </ng-template>

  <ion-footer class="footer-nav">
    <ion-tab-bar>
      <ion-tab-button>
        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/profile']">
        <ion-icon name="person-circle-outline" style="font-size: 32px;"></ion-icon>
      </ion-tab-button>

      <ion-tab-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-footer>


</ion-content>