@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');


.granite-header ion-toolbar {
    --background: #9B0C23;
    --border-width: 0;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
}

.granite-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;

    letter-spacing: 1.2px;
    font-size: 1.7rem;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    text-align: center;
    width: max-content;
}

.menu-btn {
    color: #ffffff;
    font-size: 26px;
}

ion-header::after {
    display: none;
}

