// @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,500;1,14..32,500&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,500;1,14..32,500&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* Core Ionic imports */
@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import '@ionic/angular/css/palettes/dark.system.css';


* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  // color: #23344c;
}

// button {
//   color: #23344c;

// }

html,
body,
ion-app,
ion-content {
  height: 100% !important;
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  background: #f7f8fa !important;
  overscroll-behavior: contain;
}

ion-content {
  --background: #f7f8fa !important;
  flex: 1;
  overflow-y: auto !important;
  padding-bottom: env(safe-area-inset-bottom);
}

ion-card {
  width: 100%;
  max-width: 600px;
  margin: 12px auto;
  border-radius: 16px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
}

ion-input,
ion-select,
ion-textarea {
  --background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 4px;
  padding: 4px 10px;
}

ion-header,
ion-toolbar {
  background: #fff;
  --background: #fff;
  color: #000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.page-wrapper {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
}

ion-item {
  --border-style: none;
  --inner-border-width: 0;
  --highlight-color-focused: transparent;
}

ion-input::part(placeholder),
input::placeholder {
  color: #6b6b6b !important;
  /* grey */
  opacity: 1 !important;
}

ion-input::part(native),
input {
  color: #000 !important;
}

/* Global font */
body {
  font-family: 'Inter', 'Nunito', 'Outfit', 'Roboto Condensed', 'Roboto', 'Ubuntu', sans-serif;
}

.menu-header-card {
  padding-top: calc(20px + env(safe-area-inset-top));
}
