<app-granitian-header></app-granitian-header>

<ion-content class="main-content">
  <div class="feature-grid">
    <ion-card
      *ngFor="let feature of features; trackBy: trackByFn"
      button
      class="feature-card"
      (click)="navigate(feature.route)"
      [attr.aria-label]="'Open ' + feature.label"
    >
      <ion-card-content>
        <ion-icon [name]="feature.icon"></ion-icon>
        <h2>{{ feature.label }}</h2>
      </ion-card-content>
    </ion-card>
  </div>

  <app-bottom-tabs
    [tabs]="dashboardTabs"
    activeRoute="/dashboard"
    [showDivider]="false"
  >
  </app-bottom-tabs>
</ion-content>