<app-granitian-header></app-granitian-header>
<ion-content class="main-content">
  <div class="feature-grid">
    <ion-card button class="feature-card" (click)="openSlabDashboard()">
      <ion-card-content>
        <ion-icon name="analytics-outline"></ion-icon>
        <h2>Measurement</h2>
      </ion-card-content>
    </ion-card>

    <ion-card button class="feature-card">
      <ion-card-content>
        <ion-icon name="cube-outline"></ion-icon>
        <h2>Inventory</h2>
      </ion-card-content>
    </ion-card>

    <ion-card button class="feature-card">
      <ion-card-content>
        <ion-icon name="people-outline"></ion-icon>
        <h2>Social Media</h2>
      </ion-card-content>
    </ion-card>

    <ion-card button class="feature-card">
      <ion-card-content>
        <ion-icon name="call-outline"></ion-icon>
        <h2>Request a deal</h2>
      </ion-card-content>
    </ion-card>
  </div>

  <app-bottom-tabs [tabs]="dashboardTabs" activeRoute="/dashboard">
  </app-bottom-tabs>

</ion-content>

