<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Markings History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="history-container">
    <div class="history-grid">
      <div class="history-card"
     *ngFor="let item of displayedData"
     [routerLink]="['/measurement']"
     [queryParams]="{ id: item.id, view: true }">
        <div class="history-name">{{ item.name }}</div>
        <div class="history-date">{{ item.date }}</div>
      </div>
    </div>

    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>